html{
    font-size: 62.5%;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.section-wrapper{
    padding:100px 10% 50px  ;
}
h2{
    font-family: Roboto;
font-weight: 500;
font-size: 36px;
letter-spacing: 0.05em;
line-height: 24px;
color: #141414;

margin-bottom: 70px;
text-align: center;
}

.section-inner{
    margin-top: 70px;
}

/*header*/
header{
height: 74px;
background: #1b1310;

display: flex;
justify-content: space-between;
padding:0 120px ;
align-items: center;

border: 2px solid #fff;

}
.site-title{
    font-family: Roboto;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin-right: 55px;

    font-family: Roboto;
font-weight: 500;
font-size: 16px;
text-align: left;
color: #fff;
}
button{
    display: none;
}

/* FV */
.FV{
    background-image: url(../img/fv-bgi@2x.jpg);
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.fv-text{
font-family: Roboto;
font-weight: 500;
font-size: 50px;
letter-spacing: 0.05em;
line-height: 24px;
color: #fff;

border: 2px solid #fff;
padding:35px 42px ;

}

/* About */
h3{
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: left;
    color: #141414;  

    margin-bottom: 41px;     
}
.about-text{
    font-family: "Noto Sans CJK JP";
font-weight: bold;
font-size: 14px;
letter-spacing: 0.05em;
line-height: 30px;
color: #141414;
}

/* Service*/
.service-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;

}
.service-image,.service-text{
    max-width: 480px;
/* background: url(...); */
}

.service-text p{
font-family: "Noto Sans CJK JP";
font-weight: bold;
font-size: 14px;
letter-spacing: 0.05em;
line-height: 30px;
color: #141414;

}

/* News */
.card-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-item{
    max-width: 320px;
background: #fff;
filter: drop-shadow(0px 0px 6px rgba(27, 19, 16, 0.4));
margin-right: 10px;
}
.card-item p{
font-family: "Hiragino Kaku Gothic ProN";
font-weight: normal;
font-size: 13px;
letter-spacing: 0.05em;
line-height: 25px;
color: #141414;

padding:25px 33px ;

}

/* contact */
form {
    max-width: 700px;
    margin: 0 auto;
}
.form-part{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

label{
    font-family: "Hiragino Kaku Gothic ProN";
font-weight: normal;
font-size: 16px;
letter-spacing: 0.05em;
line-height: 30px;
text-align: left;
color: #141414;
}

textarea{
    max-width: 700px;
height: 171px;
background: #fff;
border: 1px solid #141414;

margin-bottom: 50px;
}

input{
    max-width: 700px;
height: 30px;
background: #fff;
border: 1px solid #141414;

}

.form-send{
    text-align: center;
}
.form-btn{
    width: 235px;
    height: 59px;
    border-radius: 29.5px;
    background: #1b1310;
    box-shadow: 0px 0px 6px #1b1310;

 font-weight: 900;
 font-size: 20px;
 letter-spacing: 0.05em;
 color: #fff;
}

/* footer */
footer{
height: 79px;
background: #1b1310;
text-align: center;

}
small{
    font-family: Roboto;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.05em;
color: #fff;

display: block;
padding-top: 30px;
}

/* SP */
@media screen and (max-width: 768px) {
 /* base SP */
/* デフォルトのbuttonスタイルをリセット */
 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
 }

 .section-wrapper{
    padding:100px 15px 50px  ;
 }
 h2{
 font-weight: bold;
 font-size: 36px;
 letter-spacing: 0.1em;
 line-height: 48px;
 color: #141414;

 }
 p{
    font-weight: bold;
 }
 
 /* header SP */
header{
    padding: 0 15px;
}

/* 以下、ハンバーガーボタン */
.burger-btn{
    display: block;      
    width: 39px;      
    height: 39px;      
    position: relative;      
    z-index: 3;
    border:none;    
  }    
  .bar{      
    width: 25px;      
    height: 2px;        
    display: block;      
    position: absolute;      
    left: 50%;      
    transform: translateX(-50%);      
    background-color: #fff;    
  }    
  .bar_top{   
    top: 10px;
  }
  .bar_mid{    
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 10px;
  }

  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);      
    transition: transform .3s;    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0;       
    transition: opacity .3s;    
  }    
  .burger-btn.close .bar_bottom{      
  transform: translate(-50%,-8px) rotate(-45deg);      
  transition: transform .3s;    
  }

    /* 以下、ハンバーガーメニュー */
.nav-wrapper{      
     visibility: hidden;      
     opacity: 0; 
    width: 100vw;      
    height: 100vh;      
    position: fixed;      
    top: 0;      
    left: 0;
    transition: all .5s;       
    z-index: 2;     
  }     
  .header-nav{        
    width: 100%;        
    height: 100%;        
    background-color:#1B1310;        
    z-index: 2;      
  }     
  .nav-list{        
    display: block;        
    position: absolute;        
    top: 50%;        
    left: 50%;        
    transform: translate(-50%,-50%);        
    text-align: center;      
  }      
  .nav-item{        
    margin-right: 0;        
    margin-bottom: 40px;      
  }
  
  /* メニューオープン時 */
  .nav-wrapper.fade {
      visibility: visible;
      opacity: 1;
  }
  .noscroll{
    overflow: hidden;
  }

/* FV SP */
.fv-text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    line-height: 24px;
    text-align: left;
    color: #fff;

}

/*  SP */



/* Service  SP */
.service-inner{
    flex-direction: column;
}
.reverse{
    flex-direction: column;
}
h3{
font-weight: bold;
font-size: 20px;
letter-spacing: 0.1em;
line-height: 40px;

margin-bottom: 30px;
}
.service-text{
margin-bottom: 41px;
}
.service-text p{
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 30px;
    text-align: left;
    color: #141414;
    
}

/* News SP */
.card-list{
    flex-direction: column;
}
.card-item{
    margin-bottom: 50px;
}
.card-item:last-of-type{
    margin-bottom: 0;

}

/*  SP */
footer{
height: 60px;
background: #1b1310;

}
small{
    padding-top: 20px ;
}
}


    
